.catalog-page {
  width: 100%;
  float: left;
  margin-top: -30px;
  aside.catalog-filter {
    width: 280px;
    float: left;
    .aside-nav {
      width: 100%;
      float: left;
      background: #4c5969;
      border-radius: 5px;
      margin: 40px 0 30px 0;
      overflow: hidden;
      h1 {
        font: 18px/66px $fontDefautl;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        float: left;
        color: #fff;
        background: #3e4956;
        @include box-sizing();
        border-radius: 5px;
        &:after {
          display: none;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      & > ul {
        width: 100%;
        float: left;
        & > li {
          border-bottom: 1px solid #5e6c7d;
          position: relative;
          float: left;
          width: 100%;
          @include box-sizing();
          &:last-child {
            border: none;
          }

          &.sub-menu {
            &:after {
              content: '';
              position: absolute;
              right: 20px;
              top: 18px;
              @extend .sprite;
              @extend .sprite-aside-menu;
            }

            .sub-menu-block {
              width: 100%;
              float: left;
              @include box-sizing();
              padding: 0 20px;
              ul {
                float: left;
                margin: 0 10px;
                li {
                  width: 100%;
                  float: left;
                  a {
                    color: #fff;
                    display: block;
                    line-height: 25px;
                    font-size: 13px;
                    border-bottom: 1px dashed #5e6c7d;
                    position: relative;
                    &:before {
                      content: '› ';
                    }
                    span {
                      float: right;
                      display: block;
                      color: #5e6c7d;
                    }
                    &:hover {
                      color: #7accc8;
                    }
                  }
                }
              }
              & > span {
                float: left;
                color: #7accc8;
                display: block;
                width: 100%;
                line-height: 45px;
                text-decoration: none;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 22px;
                  @extend .sprite;
                  @extend .sprite-aside-menu-active;
                }
              }
              & > a {
                color: #fff;
                display: block;
                float: left;
                width: 100%;
                line-height: 45px;
                text-decoration: none;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 18px;
                  @extend .sprite;
                  @extend .sprite-aside-menu;
                }
                &:hover {
                  opacity: .6;
                }
              }
            }
          }
          & > a {
            padding: 0 20px;
            @include box-sizing();
            display: block;
            line-height: 48px;
            font-size: 18px;
            color: #fff;
            text-decoration: none;
          }
          &.active {
            background: #4c5969;
            &.sub-menu {
              &:after {
                @extend .sprite-aside-menu-active;
                top: 22px;
              }
              & > a {
                border-bottom: 1px solid #5e6c7d;
              }
              .sub-menu-block {

                display: block;
              }
            }
            a {
              color: #72b9b8;
            }
          }
          &:hover {
            &.sub-menu {
              &:after {
                @extend .sprite-aside-menu-active;
                top: 22px;
              }
            }
            a {
              color: #72b9b8;
            }
          }
        }
      }
    }
    .aside-block {
      padding: 20px;
      width: 100%;
      float: left;
      margin: 15px 0;
      @include box-sizing();
      background: #fcfcfc;

      .price-range {
        width: 100%;
        float: left;
        #range {
          margin: 15px 0;
        }
        input {
          display: none;
          &[type=submit] {
            width: 100%;
            display: block;
            margin: 15px 0 0 0;
            float: left;
          }
        }
        .info {
          width: 100%;
          float: left;
          color: #687687;
          p {
            margin: 5px 0;
            width: 100%;
          }
          .info-price {
            width: 100%;
            float: left;
            position: relative;
            color: #687687;
            padding: 5px 0;
            font-weight: bold;
            span {
              color: #8dc63f;
            }
            .ui-delete {
              cursor: pointer;
              width: 15px;
              height: 15px;
              position: absolute;
              right: 0;
              top: 3px;
            }
          }
        }
      }
      h1 {
        font-size: 20px;
        margin: 0 0 10px 0;
        line-height: 35px;
        width: 100%;
        display: block;
        float: left;
      }

      &.product {
        h1 {
          font-size: 18px;
        }
        article {
          width: 100%;
          float: left;
          margin: 10px 0;
          .image-block {
            float: left;
          }
          .product-block {
            float: right;
            width: 130px;
          }
          .product-name, .product-price {
            width: 100%;
            float: left;
          }
          .product-name {
            border-bottom: 1px solid #f6f6f6;
            a {
              display: block;
              width: 100%;
              height: 18px;
              overflow: hidden;
              font-size: 14px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .product-price {
            line-height: 35px;
            color: #8dc63f;
            font-size: 14px;
          }
          .rateit {
            width: 100%;
            float: left;
            margin: 10px 0;
          }
        }
      }

      label {
        cursor: pointer;
        width: 100%;
        display: inline-block;
        &.checked {
          color: #7accc8;
        }
        span {
          display: inline-block;
          float: right;
          color: #ebebeb;
        }
      }
      .aside-line {
        width: 100%;
        float: left;
        margin: 4px 0;
      }
    }
  }
  .catalog-list {
    float: right;
    width: 870px;
    h1 {
      float: left;
      width: 100%;
    }
    form.form-sort {
      width: 100%;
      float: left;
      background: #546273;
      border-radius: 5px;
      line-height: 60px;
      padding: 0 20px;
      margin: 10px 0;
      @include box-sizing();
      color: #fff;
      float: left;
      label {
        display: block;
        margin: 0 10px;
        float: left;
      }
      .jq-selectbox {
        float: left;
        margin: 10px 0 0 0;
      }
      .sort-form {
        width: 10px;
        height: 24px;
        display: block;
        margin: 20px 40px 0 10px;
        position: relative;
        float: left;
        overflow: hidden;
        text-indent: -1000px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          @extend .sprite;
          @extend .sprite-sort-top;
        }
        &.sort-desc {
          &:before {
            @extend .sprite-sort-bottom;
          }
        }
      }
    }
    article {
      float: left;
      margin: 15px 0;
      &.odd {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}
